<% provide(:title, "About") %>

<%= render 'clean_blogs/shim' %>
<%= render 'clean_blogs/navigation' %>
<%= render 'clean_blogs/header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
            <p>
              Becoming a Parachute Teacher is pretty simple.
              First fill out our application so we can get to know you a bit better.
              We are looking for talented individuals that want to share their area of expertise with local students.
              Second,register to get fingerprinted using one of the options below (this is required by law).
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti enim modi! Et.</p>
        </div>
    </div>
</div>

<br>

<%= render 'clean_blogs/footer' %>
